
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(9,9,121,1) 75%);
    margin: 0px;
}

main {
  display: inline;
  flex-wrap: wrap;
}

h2 {
    font-size: 20px;
}

.main-header {
    height: 2;
    display: flex;
    background-color: #214FB9;
    position: relative;
    padding: 5px 0px;
}

.main-header h1 {
    background-color: #50679C;
    background-size: 2;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding-left: 100px;
    color: #154360;
    padding-top: inherit;
    padding-right: 10px;
    }

.main-header nav {
    padding-top: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 10px;
}

.main-header nav li {
    display: inline-block;
    padding-right: 15px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 20px;
    text-align: right;
    height: 200px;
    background-color: lightblue;
}

.banner img {
   position: relative;
   display: flex;
   min-width: 100%;
   min-height: 300%;
   object-fit: cover; 
}

.banner p {
    padding: 175px 20px;
    color: blue;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner h2 {
    position: absolute;
    text-align: end;
    top: 215px;
    bottom: 0;
    right: 15px;
    color: darkblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title h1 {
    color: white;
    font-size: 50px;
}

/* .info {
    margin: 1rem;
    padding: -1rem 0rem;
    text-align: left;
    display: wrap;
    color: white;
} */

.about-me h1 {
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 100px;
    color: white;
    
}
.about-me .info {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    color: white;
    margin: 1rem;
    padding: -1rem 0rem;
    text-align: left;
    display: wrap;
    color: white;
}

.container-1 {
    display: flex;
    flex-flow: wrap;
    row-gap: 10px;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.child-1 {
    flex: 0 1 100%;
    border: 5px solid black;
    margin: 20px;
    color: white;
}

.child-2 {
    flex: 0 1 50%; 
    border: 5px solid purple;
    
}

.child-3 {
    flex: 0 1 50%; 
    border: 5px solid red;
}

.child-4 {
    flex: 0 1 50%; 
    border: 5px solid green;
}

.child-5 {
    flex: 0 1 50%; 
    border: 5px solid yellow;

}

footer {
    display:flex;
    justify-content: center;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite
}

footer h2 {
    font-size: 20px;
}