:root {
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Defines a variable for font families */
  --white-font: white;
  /* Defines a variable for white font color */
}

a {
  color: navy;
  /* Sets the color for links */
}

a:hover {
  color: teal;
  /* Sets the color when hovering over links */
}

a:visited {
  color: aquamarine;
  /* Sets the color for visited links */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(209, 214, 236);
  background: radial-gradient(circle, rgba(209, 214, 236, 1) 0%, rgba(57, 119, 230, 1) 100%);
  margin: 0px;
  /* Sets background color and margin for the body */
}

main {
  display: inline;
  flex-wrap: wrap;
  /* Sets display and flex-wrap properties for the main element */
}

.main-header {
  height: 2;
  display: flex;
  background-color: #214fb9;
  position: relative;
  padding: 10px 0px;
  /* Styles for the main header */
}

.main-header h1 {
  background-color: #50679c;
  background-size: 2;
  font-size: 36px;
  font-family: var(--font);
  border-radius: 10px;
  padding-left: 100px;
  color: #154360;
  padding-top: inherit;
  padding-right: 10px;
  /* Styles for the heading inside main header */
}

.main-header nav {
  padding-top: 15px;
  font-family: var(--font);
  position: absolute;
  right: 10px;
  display: flex;
}


.main-header nav li {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 10px;
  /* Add margin-bottom to create spacing between list items */
  flex: 0 0 100%;
  /* Make the list items take full width on small screens */
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
  text-align: right;
  height: 200px;
  background-color: lightblue;
  /* Styles for the banner section */
}

.banner img {
  position: relative;
  display: flex;
  min-width: 100%;
  min-height: 300%;
  object-fit: cover;
  margin-top: 5rem;
  /* Styles for the image inside the banner */
}

.banner p {
  padding: 175px 20px;
  display: inline-block;
  font-family: var(--font);
  /* Styles for the paragraphs inside the banner */
}

.banner h2 {
  position: absolute;
  text-align: end;
  top: 215px;
  bottom: 0;
  right: 15px;
  color: white;
  font-family: var(--font);
  /* Styles for the heading inside the banner */
}

.title h1 {
  color: white;
  font-size: 50px;
  /* Styles for the heading inside the title */
}

.flex-container {
  display: flex;
  padding-bottom: 2rem;
  padding-right: 5rem;
  /* Styles for the flex container */
}

.flex-child-1 h1 {
  border-right: 5px solid var(--white-font);
  font-family: var(--font);
  padding-right: 2rem;
  flex: 0 1 100%;
  padding-top: 1rem;
  color: white;
  font-size: 2rem;
  margin-left: 5rem;
  margin-top: 5rem;
  /* Styles for the first flex child */
}

.flex-child-2 p {
  color: darkblue;
  font-size: 20px;
  margin: 2rem 2rem;
  margin-top: 5rem;
  font-family: var(--font);
  /* Styles for the second flex child */
}

.flex-child-3 h1 {
  border-right: 5px solid white;
  font-family: var(--font);
  padding-right: 2rem;
  padding-top: 1rem;
  color: var(--white-font);
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
  /* Styles for the third flex child */
}

.flex-child-4 {
  flex: 1;
  color: var(--white-font);
  font-family: var(--font);
  font-size: 22px;
  margin-left: 3rem;
  margin-top: 5rem;
  /* Styles for the fourth flex child */
}

.flex-child-4 nav {
  padding-top: 15px;
  color: navy;
  font-family: var(--font);
  font-family: var(--font);
  position: center;
  right: 10px;
  /* Styles for the navigation inside the fourth flex child */
}

.flex-child-4 nav li {
  display: block;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-family: var(--font);
  /* Styles for the list items inside the navigation */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  /* Styles for the grid container */
}

.long-card a,
.short-card a {
  display: block;
  height: 100%;
  width: 100%;
  /* Styles for the links inside the long and short cards */
}

.long-card {
  grid-column: 1 / 3;
  height: 300px;
  border: 6px solid navy;
  width: 100%;
  background-image: url("../images/resume1.png");
  background-size: cover;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  /* Styles for the long card */
}

.long-card h2 {
  position: relative;
  background: darkblue;
  color: var(--white-font);
  font-family: var(--font);
  display: inline-block;
  padding: 1rem 6rem;
  bottom: -13rem;
  font-size: 2rem;
  /* Styles for the heading inside the long card */
}

.short-card .coming-soon {
  grid-column: span 1;
  height: 300px;
  border: 6px solid navy;
  width: 100%;
  background-image: url("../images/portfolio.jpg");
  background-size: cover;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  /* Styles for the "coming soon" short card */
}

.short-card .zoo {
  grid-column: span 1;
  height: 300px;
  border: 6px solid navy;
  width: 100%;
  background-image: url("../images/lemurs-1010643_640.jpg");
  background-size: cover;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  /* Styles for the "zoo" short card */
}

.short-card h2 {
  position: relative;
  background: darkblue;
  color: var(--white-font);
  font-family: var(--font);
  display: inline-block;
  padding: 1rem 6rem;
  bottom: -13rem;
  font-size: 1.5rem;
  /* Styles for the heading inside the short cards */
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-family: var(--font);
  color: var(--white-font);
  /* Styles for the footer */
}

footer h2 {
  font-size: 20px;
  /* Styles for the heading inside the footer */
}

@media screen and (max-width: 768px) {
  .container-1 {
    display: block;
    flex: 1 0 45%;
    /* Styles for container-1 when screen width is less than 768px */
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .long-card,
  short-card {
    grid-column: 1 / 2;
  }

  .main-header nav li {
    display: block;
    padding-right: 2rem;
    flex: 0 0 100%;
  }

  .main-header {
    padding-top: 60px;
    /* Add padding-top to create space for the nav elements */
  }
}

@media screen and (max-width: 768px) {
  .main-header ul {
    flex-direction: column;
  }

  .main-header ul li {
    display: block;
    padding-right: 2rem;
    margin-bottom: 10px;
    flex: 0 0 100%;
  }

  .main-header {
    padding-top: 60px;
  }
}
