:root {
    --font: 'Lato', sans-serif;
    /* --navhover: lightblue; */
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0F2F7A;
    margin: 0px;
}

main {
  display: inline;
  flex-wrap: wrap;
}

.steph-header {
    height: 60px;
    display: flex;
    background-color: #214FB9;
    position: relative;
    padding: 5px 0px;
}

.steph-header h1 {
    background-color: #50679C;
    background-size: 60px;
    font-size: 36px;
    font-family: var(--font);
    border-radius: 10px;
    padding-left: 100px;
    color: darkcyan;
    padding-top: inherit;
    padding-right: 10px;
    }

.steph-header nav {
    padding-top: 15px;
    font-family: var(--font);
    position: absolute;
    right: 10px;
}

.steph-header nav li {
    display: inline-block;
    padding-right: 15px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 20px;
    text-align: right;
    height: 200px;
    background-color: lightblue;
}

.banner img {
   position: relative;
   display: flex;
   min-width: 100%;
   min-height: 300%;
   object-fit: cover; 
}

.banner p {
    padding: 175px 20px;
    color: blue;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.banner h2 {
    position: absolute;
    text-align: end;
    top: 215px;
    bottom: 0;
    right: 15px;
    color: darkblue;
    font-family: var(--font);
}

.about-me {
    margin: 1rem;
    padding: -1rem 0rem;
    text-align: left;
    display: inline-flex;
}

.about-me-info {
    display: inline-block;
    border-right: 5px solid navy;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: var(--font);
    color: white;
}

.work {
    margin: 1rem;
    padding: -1rem 0rem;
    text-align: left;
    display: inline-flex;
}

.work-info {
    display: inline-block;
    border-right: 5px solid navy;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: var(--font);
    color: white;
}

.contact-me {
    margin: 1rem;
    padding: -1rem 0rem;
    text-align: left;
    display: inline-flex;
}   

.contact-me-info {
    display: inline-block;
    border-right: 5px solid navy;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: var(--font);
    color: white;
}
/* .banner bottom-right {
    position: absolute;
    bottom: 10px;
    right: 15px;
} */

/* .info {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border: 2px solid navajowhite;
    position: relative; */
/* } */

/* .info-about-me {
    position: relative;
} */

/* .info-work {
    position: absolute;
}

.info p {
    font-size: 20px;
    border: 2px solid navy;
}

.info h1 {
    font-size: 26px;
    color: antiquewhite;
} */

footer {
    display:flex;
    justify-content: center;
    padding: 30px;
    font-family: var(--font);
    color: antiquewhite
    /* padding:30px;
    clear: both;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aqua;
    text-align: center; */
}

footer h2 {
    font-size: 20px;
}